.form-wrapper {
  width: 100%;
  height: 50px;
  background: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.load-more {
  margin: 30px auto;
  height: 40px;
  width: 140px;
  background: blue;
  color: white;
  cursor: pointer;
  border: none;
  display: none;

  &:hover {
    background: rgb(0, 0, 200);
  }
}
